.header{
    margin-top: 60px;
}
.header-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: grey;
}
.header-title-sm{
    position: absolute;
    top:18%;
    font-size: 20px;
}
.header-title-lg{
    position: absolute;
    top:20%;
    font-size: 50px;
}
.header-img{
    width: 100%;
    height: 450px;
    object-fit: cover;
}