.sidebar{
    flex: 3;
    margin:20px;
    padding-bottom: 30px;
    background-color: #ffafcc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebar-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebar-title{
    margin:10px;
    padding:5px;
    width:80%;
    text-align: center;
    border-top: solid 1px #a7a4a4;
    border-bottom: solid 1px #a7a4a4;
    font-size: 12px;
    line-height: 19px;
    color: #222222;
    font-weight: 600;
  }
.sidebar-img{
    margin-top: 15px;
    width: 250px;
    height: 250px;
}
.sidebar-text{
   padding:25px;
   text-align: justify;
}
.sidebar-list{
    list-style-type: none;
    margin-bottom: 30px;
}
.sidebar-list-item{
    display: inline-block;
    width:50%;
    margin-top: 15px;
    cursor: pointer;
}
.sidebar-social {
    margin-top: 15px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sidebar-icon {
    font-size: 16px;
    margin-left: 10px;
  }
